.nav {
  grid-area: n;
  background-color: black;
  padding: 20px 30px;
}

.item {
  margin-bottom: 5px;
}
.item:last-child {
  margin-top: 50px;
}
.link {
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  text-decoration: none;
}
.active {
  color: darkcyan;
}
.title {
  margin: 60px 0 0 0;
}
