.item {
  color: #fff;
  padding: 10px 20px;
  display: flex;
  align-items: flex-start;
  max-width: 800px;
  border: 2px solid white;
  border-radius: 15px;
  margin-bottom: 20px;
}
.avatar {
  width: 50px;
  height: 50px;
}
.text {
  padding: 0 20px;
  margin: 0;
  text-align: left;
  width: 90%;
}
.like {
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.like_button {
  height: 30px;
  width: 30px;
  background-image: url(../../../../assets/images/like.svg);
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  padding-left: 15px;
}
.like_count {
  color: #fff;
  margin: 0;
}
