.dialogs {
  display: flex;
}

.dialog {
  display: flex;
  padding: 5px 10px;
  color: #fff;
  text-decoration: none;
  margin-bottom: 20px;
  box-shadow: 0 0 10px darkcyan;
  border-radius: 20px;
}
.messages {
}
.active {
  background-color: darkcyan;
  box-shadow: 0 0 20px rgb(255, 238, 0);
}
.message {
}
.line {
  /* Высоту подредактировать, цифра вята с потолка */
  height: 92vh;
  width: 3px;
  background-color: #fff;
  box-shadow: 0 0 20px #fff;
  margin: 0 20px;
}
.avatar {
  margin-right: 10px;
}
.name {
  margin: 0;
}
