.dialogs_wrapper {
  display: flex;
  height: 100%;
}
.dialog_window {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.line {
  width: 3px;
  background-color: #fff;
  margin: 0 20px;
  box-shadow: 0 0 10px #fff;
}
.message_wrapper {
  width: 700px;
  height: 600px;
  overflow-y: auto;
  margin-bottom: 10px;
}

.input_wrapper {
  width: 100%;
  display: flex;
  margin-bottom: 40px;
}
.input {
  width: 100%;
  background-color: transparent;
  border: 2px solid #fff;
  padding: 5px 10px;
  border-radius: 10px 0 0 10px;
  color: #fff;
  outline: none;
  transition: all 0.7s;
}
.input:focus {
  box-shadow: 0 0 7px #fff;
}
.send {
  background-color: transparent;
  border: 2px solid #fff;
  color: #fff;
  padding: 10px;
  border-radius: 0 10px 10px 0;
  transition: all 0.7s;
  cursor: pointer;
}
.send:hover {
  background-color: #fff;
  box-shadow: 0 0 20px #fff;
  color: #000;
}
